.banner-section-bg-container {
    background-color: #0b2642;
    height: 100vh;
    background-size: cover;
    width: 1365px;
    height:560px;
}

.banner-heading {
    font-family: Times New Roman;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; 
    color: white;
    font-weight: 300;
    font-size: 60px;
}
.banner-para-text
{
    font-family: Times New Roman;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color: white;
    font-weight: 300;
    font-size: 30px;
}
.banner-custom-button1
{
    font-size: 25px;
    font-family: Bree Serif;
    color: white;
    border-radius: 12px;
    background-color: rgba(0, 0, 255, 0.3);
    border-width: 2px;
    height: 45px;
    width: 130px;
    margin-right: 10px;
}
.banner-custom-button2
{
    font-size: 25px;
    font-family: Bree Serif;
    color: solid white;
    border-style: solid;
    border-color: #f3b511;
    border-radius: 12px;
    background-color:#FFE993;
    border-width: 2px;
    height: 45px;
    width: 161px;
    margin-right: 10px;
}
.banner-text-container-center
{
    text-align: center;
}
