#navitem1 {
    color: black;
    font-family: Bree Serif;

}

#navitem2 {
    color: black;
    font-family: Bree Serif;
}

#navitem3 {
    color: black;
    font-family: Bree Serif;
}

#navitem4 {
    color: black;
    font-family: Bree Serif;
}

.png-kfc {
    height: 79px;
    width: 300px;
}
